

@model eSPP.Models.HR_CUTI_UMUM

<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Tambah Cuti Umum <span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("TambahCuti","CutiUmum", FormMethod.Post, new { id = "order-form", @class = "smart-form", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        


            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">Keterangan Cuti  </label>
                        <div class="col col-8">
                            <label class="select">
                                <i class="icon-append fa fa-briefcase"></i>
                                @Html.DropDownListFor(model => model.HR_KOD_CUTI_UMUM, null, String.Empty, new { @class = "form-control"})
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Tarikh  </label>
                        <div class="col col-8">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="HR_TARIKH" id="HR_TARIKH"  readonly = 'readonly'>
                            </label>
                        </div>
                    </div>
                </section>
            </fieldset>
            <footer>
                <button type="submit" id="btn" class="btn btn-primary">
                    <span class="fa fa-send-o"></span> Hantar
                </button>
                <a type="button" class="btn btn-default" href="cutiumum">
                    Kembali
                </a>
            </footer>
        }

    </div>

</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Tambah-btn").click(function () {
                debugger
                $('#TambahModal').modal('hide');
            });

            var $orderForm = $("#order-form").validate({
                // Rules for form validation
                rules: {
                    HR_KOD_CUTI_UMUM: {
                        required: true
                    },

                    HR_TARIKH: {
                        required: true

                    }

                },

                // Messages for form validation
                messages: {
                    HR_KOD_CUTI_UMUM: {
                        required: 'Pilihan Cuti diperlukan',

                    },
                    HR_TARIKH: {
                        required: 'Tarikh Cuti diperlukan',

                    },

                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }


            });


          
          

            $("#HR_TARIKH").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                minDate: 0,
                onSelect: function (selectedDate) {
                    //$('.datepicker2').datepicker('option', 'maxDate', selectedDate);
                    var date = $(this);
                    date.parent().find("em").remove();
                    $.ajax({
                        url: "CutiUmum/CariCuti",
                        type: "get",
                        datatype: "json",
                        data: {
                            tarikh: $(this).val(),
                            kod: function () {
                                return $("#HR_KOD_CUTI_UMUM").val();
                            }
                        },
                        success: function (data) {
                            debugger
                            if (data != true) {
                                date.valid();
                                date.after('<em for="HR_TARIKH" class="invalid">Tarikh Cuti Telah Wujud</em>')
                            }
                        }
                    })
                }
            });

            $("#btn").on("click", function (e) {
                
                $.ajax({
                    url: "CutiUmum/CariCuti",
                    type: "get",
                    datatype: "json",
                    data: {
                        tarikh: function () {
                            return $("#HR_TARIKH").val();
                        },
                        kod: function () {
                            return $("#HR_KOD_CUTI_UMUM").val();
                        }
                    },
                    success: function (data) {
                        debugger
                        if (data != true) {
                            $("#HR_TARIKH").valid();
                            
                        }
                        else
                        {
                            $("#order-form").submit()
                        }
                    }
                })
                //e.preventDefault();
            });
        })
    </script>
